<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/components/navbar/navbar.css" />
</head>
<body>
<nav class="navbar">
  <a class="logo">
    <span>LEGACY LIFE<br />Asurance</span>
  </a>
  <div class="navcontainer">

    <a class="navitem" href="">Home</a>
    <a class="navitem" href="">About us</a>
    <a class="navitem" href="">Products</a>
    <a class="navitem" href="">News</a>

    <div class="navitem dropdown">
      <a class="navitem" href="">Get in touch</a>
      <div class="dropdown-content">
        <a href="">Contact Us</a>
        <div>
        <a class="branch-location" href="">Branch Locations</a>
      </div>
      </div>
    </div>

  </div>
  <div class="btn-container" >
    <button class="btn">login</button>
    <button class="btn">signup</button>
  </div>
</nav>
</body>
</html>
